container_commands:
  01-install-typescript:
    command: sudo npm install typescript
    ignoreErrors: true
    waitAfterCompletion: 0
  02-ts-build:
    command: sudo npx tsc
    ignoreErrors: true
    waitAfterCompletion: 0
  03-remove-test:
    command: sudo rm -r ./dist/test
    ignoreErrors: true
    waitAfterCompletion: 0
  04-move-src:
    command: sudo mv ./dist/src/* ./dist
    ignoreErrors: true
    waitAfterCompletion: 0
  05-remove-src:
    command: sudo rm -r ./dist/src
    ignoreErrors: true
    waitAfterCompletion: 0